In [1]:
import pandas as pd

pd.read_csv("data/T_ONTIME_REPORTING.csv")

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,...,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,TAXI_OUT,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED
0,1/1/2024 12:00:00 AM,9E,4814,12478,1247805,31703,JFK,"New York, NY",11433,1143302,...,DTW,"Detroit, MI",1247.0,-5.0,31.0,1449.0,-19.0,0.0,NaN,0.0
1,1/1/2024 12:00:00 AM,9E,4815,13487,1348702,31650,MSP,"Minneapolis, MN",11042,1104205,...,CLE,"Cleveland, OH",1001.0,-14.0,20.0,1255.0,-30.0,0.0,NaN,0.0
2,1/1/2024 12:00:00 AM,9E,4817,12478,1247805,31703,JFK,"New York, NY",14524,1452401,...,RIC,"Richmond, VA",1411.0,-4.0,21.0,1541.0,-20.0,0.0,NaN,0.0
3,1/1/2024 12:00:00 AM,9E,4817,14524,1452401,34524,RIC,"Richmond, VA",12478,1247805,...,JFK,"New York, NY",1643.0,-7.0,13.0,1759.0,-42.0,0.0,NaN,0.0
4,1/1/2024 12:00:00 AM,9E,4818,11433,1143302,31295,DTW,"Detroit, MI",13342,1334207,...,MKE,"Milwaukee, WI",1010.0,-5.0,21.0,1020.0,-14.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547266,1/31/2024 12:00:00 AM,YX,5843,12953,1295304,31703,LGA,"New York, NY",14492,1449202,...,RDU,"Raleigh/Durham, NC",1201.0,51.0,29.0,1347.0,38.0,0.0,NaN,0.0
547267,1/31/2024 12:00:00 AM,YX,5844,12953,1295304,31703,LGA,"New York, NY",11278,1127805,...,DCA,"Washington, DC",2016.0,-14.0,16.0,2128.0,-32.0,0.0,NaN,0.0
547268,1/31/2024 12:00:00 AM,YX,5845,10821,1082106,30852,BWI,"Baltimore, MD",12478,1247805,...,JFK,"New York, NY",1719.0,3.0,11.0,1827.0,-18.0,0.0,NaN,0.0
547269,1/31/2024 12:00:00 AM,YX,5845,12478,1247805,31703,JFK,"New York, NY",10821,1082106,...,BWI,"Baltimore, MD",1552.0,31.0,15.0,1653.0,19.0,0.0,NaN,0.0
547270,1/31/2024 12:00:00 AM,YX,5846,15096,1509602,35096,SYR,"Syracuse, NY",12953,1295304,...,LGA,"New York, NY",559.0,-1.0,14.0,708.0,-23.0,0.0,NaN,0.0