In [2]:
import pandas as pd
from tqdm import tqdm

airport = pd.read_csv("../top_19_airport_review_link.csv")

df_list = list()
chunk_iter = pd.read_csv("../data/Total_Data_10Y.csv", chunksize=100000, dtype = {"CANCELLATION_CODE": str})
for chunk in tqdm(chunk_iter):
    chunk = chunk[(chunk.ORIGIN.isin(airport.ORIGIN)) & (chunk.DEST.isin(airport.ORIGIN))]
    df_list.append(chunk)
df = pd.concat(df_list)
df.head()

248it [00:53,  4.39it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (3,4,7,8,11,12,13,14,15,16,17,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
545it [02:00,  4.50it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (3,4,7,8,11,12,13,14,15,16,17,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
611it [02:15,  4.35it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (3,4,7,8,11,12,13,14,15,16,17,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
624it [02:18,  4.52it/s]

,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,...,TAXI_IN,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
3,2014-07-01,AA,N002AA,1105703,31057,CLT,"Charlotte, NC",1129803,30194,DFW,...,28.0,1214.0,9.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-07-01,AA,N002AA,1129803,30194,DFW,"Dallas/Fort Worth, TX",1105703,31057,CLT,...,13.0,945.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,2014-07-01,AA,N004AA,1039705,30397,ATL,"Atlanta, GA",1129803,30194,DFW,...,6.0,1341.0,-9.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2014-07-01,AA,N004AA,1129803,30194,DFW,"Dallas/Fort Worth, TX",1039705,30397,ATL,...,7.0,1159.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2014-07-01,AA,N004AA,1129803,30194,DFW,"Dallas/Fort Worth, TX",1039705,30397,ATL,...,6.0,2317.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
len(df)

12926556

In [4]:
df.to_csv("test_reduce.csv", index = False)

In [9]:
chunk.columns

Index(['FL_DATE', 'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'ORIGIN', 'ORIGIN_CITY_NAME',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME',
       'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'TAXI_IN', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'CARRIER_DELAY', 'WEATHER_DELAY',
       'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'],
      dtype='object')

In [5]:
len(df)

10340975

In [7]:
airport.ORIGIN

0     ATL
1     ORD
2     DFW
3     DEN
4     LAX
5     CLT
6     PHX
7     LAS
8     SFO
9     SEA
10    MCO
11    JFK
12    EWR
13    MIA
14    DAL
15    PDX
16    STL
17    RDU
18    HOU
Name: ORIGIN, dtype: object