In [2]:
import pandas as pd
from tqdm import tqdm

airport = pd.read_csv("../top_19_airport_review_link.csv")

df_list = list()
chunk_iter = pd.read_csv("../data/Total_Data_10Y.csv", chunksize=100000)
for chunk in tqdm(chunk_iter):
    chunk = chunk[(chunk.ORIGIN.isin(airport.ORIGIN)) & (chunk.DEST.isin(airport.ORIGIN))]
    df_list.append(chunk)
df = pd.concat(df_list)
df.head()

20it [00:03,  5.30it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
46it [00:09,  5.42it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
59it [00:11,  5.14it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
70it [00:13,  5.39it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
74it [00:14,  5.54it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
85it [00:16,  5.64it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
98it [00:18,  5.38it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
103it [00:19,  5.61it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
109it [00:20,  5.64it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
113it [00:21,  5.48it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
118it [00:22,  5.56it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
124it [00:23,  5.50it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
127it [00:23,  5.43it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
135it [00:25,  5.43it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
136it [00:25,  5.42it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
137it [00:25,  5.47it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
143it [00:26,  5.55it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
151it [00:28,  5.67it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
153it [00:28,  5.62it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
163it [00:30,  5.40it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
221it [00:40,  5.67it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
229it [00:42,  5.59it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
233it [00:42,  5.41it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
239it [00:44,  5.22it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
248it [00:45,  5.59it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (3,4,7,8,11,12,13,14,15,16,17,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
256it [00:47,  5.66it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
293it [00:53,  5.67it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
297it [00:54,  5.61it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
299it [00:54,  5.58it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
303it [00:55,  5.31it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
315it [00:57,  5.45it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
348it [01:04,  5.26it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
352it [01:04,  5.19it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
357it [01:05,  5.39it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
393it [01:14,  3.29it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
403it [01:17,  3.07it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
415it [01:20,  4.57it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
454it [01:28,  5.24it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
463it [01:30,  5.20it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
466it [01:30,  4.87it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
467it [01:30,  4.90it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
469it [01:31,  4.53it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
474it [01:32,  4.26it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
478it [01:33,  4.71it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
484it [01:34,  4.73it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
486it [01:35,  4.40it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
488it [01:35,  4.21it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
498it [01:38,  4.86it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
500it [01:38,  4.51it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
504it [01:39,  4.74it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
505it [01:39,  4.67it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
514it [01:41,  4.88it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
518it [01:42,  5.12it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
520it [01:42,  4.67it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
522it [01:43,  4.74it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
523it [01:43,  4.85it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
525it [01:43,  4.97it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
533it [01:45,  4.97it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
535it [01:45,  4.71it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
545it [01:47,  4.52it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (3,4,7,8,11,12,13,14,15,16,17,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
548it [01:48,  4.72it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
549it [01:48,  4.69it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
556it [01:50,  4.49it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
557it [01:50,  4.57it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
566it [01:52,  5.14it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
582it [01:55,  4.83it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
585it [01:56,  4.71it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
588it [01:56,  4.80it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
590it [01:57,  4.62it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
607it [02:00,  5.17it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
609it [02:00,  5.25it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
611it [02:01,  5.22it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (3,4,7,8,11,12,13,14,15,16,17,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
615it [02:02,  4.70it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
616it [02:02,  4.90it/s]C:\Users\wongh\anaconda3\envs\601\lib\site-packages\tqdm\std.py:1181: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  for obj in iterable:
624it [02:03,  5.04it/s]

,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,...,TAXI_IN,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
3,2014-07-01,AA,N002AA,1105703,31057,CLT,"Charlotte, NC",1129803,30194,DFW,...,28.0,1214.0,9.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-07-01,AA,N002AA,1129803,30194,DFW,"Dallas/Fort Worth, TX",1105703,31057,CLT,...,13.0,945.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,2014-07-01,AA,N004AA,1039705,30397,ATL,"Atlanta, GA",1129803,30194,DFW,...,6.0,1341.0,-9.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2014-07-01,AA,N004AA,1129803,30194,DFW,"Dallas/Fort Worth, TX",1039705,30397,ATL,...,7.0,1159.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2014-07-01,AA,N004AA,1129803,30194,DFW,"Dallas/Fort Worth, TX",1039705,30397,ATL,...,6.0,2317.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.to_csv("test_reduce.csv", index = False)

In [9]:
chunk.columns

Index(['FL_DATE', 'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'ORIGIN', 'ORIGIN_CITY_NAME',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME',
       'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'TAXI_IN', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'CARRIER_DELAY', 'WEATHER_DELAY',
       'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'],
      dtype='object')

In [7]:
airport.ORIGIN

0     ATL
1     ORD
2     DFW
3     DEN
4     LAX
5     CLT
6     PHX
7     LAS
8     SFO
9     SEA
10    MCO
11    JFK
12    EWR
13    MIA
14    DAL
15    PDX
16    STL
17    RDU
18    HOU
Name: ORIGIN, dtype: object